[submodule "unit-template-db"]
	path = unit-template-db
	url = https://github.com/openbase/bco.registry.unit-template-db.git
[submodule "device-class-db"]
	path = device-class-db
	url = https://github.com/openbase/bco.registry.device-class-db.git
[submodule "agent-class-db"]
	path = agent-class-db
	url = https://github.com/openbase/bco.registry.agent-class-db.git
[submodule "app-class-db"]
	path = app-class-db
	url = https://github.com/openbase/bco.registry.app-class-db.git
[submodule "service-template-db"]
	path = service-template-db
	url = https://github.com/openbase/bco.registry.service-template-db.git
